[Desktop Entry]
Name=Xtra-PC Getting Started Tutorial
Comment=Useful How-to instructions and videos on performing common tasks on your Xtra-PC
Categories=XtraPC
Exec=sh -c "java -jar /opt/xtra-pc/XtrapcTutorial-1.0.jar"
Icon=x-icon-help-64x64
Terminal=false
Type=Application
