[Desktop Entry]
Name=xtrapc
X-KDE-PluginInfo-Name=xtrapc
X-KDE-PluginInfo-Author=Xtra-PC
X-KDE-PluginInfo-Email=support@xtra-pc.com
X-KDE-PluginInfo-License=GPLv2+
